<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <!--设置允许上传文件的大小-->
      <httpRuntime maxRequestLength="10240"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
